{% extends 'base.html' %}
{% block title %}
Faculty
{% endblock title %}
{% block home %}
menu-active
{% endblock home %}

{% block body %}
  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
     
    </div>

    <div class="container">
   
      <div class="credits" style="text-align: right;">
      <br>
        <div style="font-size: 16px;">
          <strong>Done by:</strong>
          <a href="/" style="display: block;">Abhinav</a>
          <a href="/" style="display: block;">Keerthi</a>
          <a href="/" style="display: block;">Manvitha</a>
          <a href="/" style="display: block;">Manaswini</a>
          <a href="/" style="display: block;">Rayudu</a>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->
{% endblock body %}
